.cabecalho {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.cabecalho__texto {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 7%;
    
}

.img__omelette {
    width: 100%;
}

.titulo__principal{
    font-size: 2rem;
    font-family: var(--fonte-titulo);
    color: var(--cor-titulo);
    
}

.descricao__titulo-principal {
    font-size: 1em;
    color: var(--cor-textos);
    line-height: 1.1;
}

@media screen and (min-width:1024px) {
    .img__omelette{
        margin: 5% auto;
        width: 90%;
        border-radius: 10px;
    }
}