.ingredientes {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--cor-textos);
    margin: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid rgb(191, 189, 189);
}

.ingredientes__subtitulo {
    font-size: 1.7rem;
    font-family: var(--fonte-titulo);
    color: var(--subtitulos-pagina);
    margin-right: auto;
    font-weight: 500;
}

.lista__ingredientes{
    list-style-type: disc;
    font-size: .9em;
    line-height: 2;
    margin-left: 1.1em;
}

.lista__ingredientes_item{
    padding-left: 1em;
}